.customer{
    width: 552px;
    height: 455px;
    top: 119px;
    left: 76px;
    padding: 18px 0px 0px 0px;
    gap: 18px;
    opacity: 0px;
    background: #F4F4F4;
    margin-left: 20px;


}
.titre{
    margin-left:10px;
}
.texte1{
    margin-left:10px;
}
.email{
    width: 400px;
    height: 10px;
    padding: 16px 0px 16px 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #282828;
    margin-left: 20px;
   
    margin-bottom: 20px;

}
.password{
    width: 400px;
    height: 10px;
    padding: 16px 0px 16px 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #282828;
    margin-left: 20px;

}